JWT_SECRET='xxxxxxxxxxxxx'

# PostgreSQL
DB_PORT=5433


# Patient service database
PATIENT_SPRING_DATASOURCE_URL="jdbc:postgresql://host.docker.internal:5433/patient_service_db"
PATIENT_SPRING_DATASOURCE_USERNAME="patient_service"
PATIENT_SPRING_DATASOURCE_PASSWORD="your_patient_secure_password"
PATIENT_SPRING_JPA_HIBERNATE_DDL_AUTO="update"
PATIENT_SPRING_SQL_INIT_MODE="always"

# Auth service database
AUTH_SPRING_DATASOURCE_URL="jdbc:postgresql://host.docker.internal:5433/auth_service_db"
AUTH_SPRING_DATASOURCE_USERNAME="auth_service"
AUTH_SPRING_DATASOURCE_PASSWORD="your_auth_secure_password"
AUTH_SPRING_JPA_HIBERNATE_DDL_AUTO="update"
AUTH_SPRING_SQL_INIT_MODE="always"

# ANALYTICS SERVICE
SPRING_KAFKA_BOOTSTRAP_SERVERS=host.docker.internal:9092


API_GATEWAY_DIGEST=
PATIENT_SERVICE_DIGEST=
BILLING_SERVICE_DIGEST=
AUTH_SERVICE_DIGEST=
ANALYTICS_SERVICE_DIGEST=


DOCKERHUB_USERNAME=oxblixxx
